@import url("@fontsource-variable/montserrat");
@import url("@fontsource-variable/montserrat/wght-italic.css");


@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: 'Montserrat Variable', sans-serif;
    box-sizing: border-box;
}

button:focus, button:focus-visible, svg:focus, svg:focus-visible {
    outline: none;
    --ring-color: none !important;
    --ring-width: 0;
}


/* HTML: <div class="loader"></div> */
.loader {
    width: 55px;
    aspect-ratio: 1;
    --g1:conic-gradient(from  90deg at 3px  3px ,#0000 90deg,#ca0b10 0);
    --g2:conic-gradient(from -90deg at 22px 22px,#0000 90deg,#ca0b10 0);
    background:var(--g1),var(--g1),var(--g1), var(--g2),var(--g2),var(--g2);
    background-size: 25px 25px;
    background-repeat: no-repeat;
    animation: l7 1.5s infinite;
}
@keyframes l7 {
    0%   {background-position:0    0   ,0 100%,100% 100% }
    25%  {background-position:100% 0   ,0 100%,100% 100% }
    50%  {background-position:100% 0   ,0 0   ,100% 100% }
    75%  {background-position:100% 0   ,0 0   ,0    100% }
    100% {background-position:100% 100%,0 0   ,0    100% }
}

/* HTML: <div class="loader"></div> */
.input-loader {
    width: 60px;
    aspect-ratio: 4;
    --_g: no-repeat radial-gradient(circle closest-side,#ca0b10 90%,#0000);
    background:
            var(--_g) 0%   50%,
            var(--_g) 50%  50%,
            var(--_g) 100% 50%;
    background-size: calc(100%/3) 100%;
    animation: l7 1s infinite linear;
}
@keyframes l7 {
    33%{background-size:calc(100%/3) 0%  ,calc(100%/3) 100%,calc(100%/3) 100%}
    50%{background-size:calc(100%/3) 100%,calc(100%/3) 0%  ,calc(100%/3) 100%}
    66%{background-size:calc(100%/3) 100%,calc(100%/3) 100%,calc(100%/3) 0%  }
}